<IfModule mod_rewrite.c>
RewriteEngine On

# Esto solo se aplica si desea ocultar index.php de las URL y forzar siempre los request por index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* %{ENV:BASE}index.php/$0 [QSA,L]

</IfModule>

# Protege los archivos y carpetas que inician con un punto
<FilesMatch ^\.>
Deny from all
</FilesMatch>

# Protege los archivos phar y phar.gz
<FilesMatch (\.phar|\.phar\.gz)$>
Deny from all
</FilesMatch>
